.box_style {
    background-color: #ece9e9;
    margin: 2rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_style{
    color: #1f1e1e;
    font-weight: 500;
}